<div class="row-fluid">
	<form id="frmUsuario" class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="inputNome">Nome *</label>
			<div class="controls">
				<input type="text" id="inputNome" name="nome" placeholder="Nome" value="Anderson">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Email *</label>
			<div class="controls">
				<input type="text" id="inputEmail" name="email" placeholder="Email" value="anderson@gmail.com">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPassword">Senha *</label>
			<div class="controls">
				<input type="password" id="inputPassword" name="senha" placeholder="senha" value="a1">
			</div>
		</div>		
		<div class="control-group">
			<label class="control-label" for="inputPasswordConfirm">Confirmação de Senha *</label>
			<div class="controls">
				<input type="password" id="inputPasswordConfirm" name="confirmacaoSenha" placeholder="confirmação de senha" value="a1">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">				
				<button id="btnSalvar" type="submit" class="btn btn-primary">Cadastrar</button>
				<button id="btnVer" type="button" class="btn">Ver</button>
			</div>
		</div>
	</form>
</div>